include README.md
include LICENSE
include requirements.txt
include draggg.desktop
include draggg.service
include setup.sh
include create_icon.py
recursive-include assets *.png
include assets/dragggBanner.2.png
recursive-include gui *.py
recursive-include scripts *.py
recursive-include debian *
recursive-include snap *
recursive-include conda *

